---
import Layout from "../layouts/Layout.astro";
import "../styles/style.css";

let Templates = {
    Default: {
    Tournament: {
        Navbar: {
            links: [
    { name: 'Home', path: '/' },
    { name: 'News', path: '/News' },
    { name: 'Trainings', path: '/Trainings' },
    { name: 'Tournaments', path: '/Tournament' }
  ],
            image: "/src/assets/images/Erovoutika Dubai logo.png",
            buttonText: "Register Now" 
        },
        Hero:{
            title: "BE PART OF THE<br><span class='underline decoration-[#C084FC]'>FUTURE!</span>",
            subtitle: "Join us for an International Training & Tournament Camp!",
            background: "/src/assets/images/backgrounds/Herobg.png",
            buttonText: "Learn More"
        },
        Overview:{
            subheadings: "Overview",
            Headings: 'Tournament',
            info: "Robolution Dubai 2025 features three dynamic tracks designed to challenge participants in innovation, problem-solving, and technical expertise. Compete against global talents, collaborate with experts, and push the boundaries of technology in the following <span class='text-sky-500'>categories:</span>"
        },
        Pictures:{
            erobot:"/src/assets/images/tournament/erobot.png",
            eromath:"/src/assets/images/tournament/eromath.png",
            freestyle:"/src/assets/images/tournament/freestyle.png",
            cybersecurity:"/src/assets/images/tournament/cybersecurity.png"
        },
       
    },
    readonly: true,
  },
};


const copyTheme = { ...Templates.Default };
const { links, image, buttonText } = copyTheme.Tournament.Navbar;
const {erobot, eromath, freestyle, cybersecurity} = copyTheme.Tournament.Pictures;
---

<Layout>
    <div class="page" style={`background-image: url(${copyTheme.Tournament.Hero.background});`} >

       <!-- Navbar at the top -->
 <nav class="navbar">
    <div class="container mx-auto flex items-center justify-between  py-3 ">
      
      <!-- Logo -->
      <div class="flex items-center md:gap-x-3 ml-5">
        <img src={image} alt="Logo" class="h-13 w-auto" />
      </div>
      
      <!-- Navigation Links -->
      <div class=" flex items-center gap-x-6 ">
        <ul class="hidden md:flex space-x-6 text-white font-medium">
            {links.map((item) => (
                <li><a href={item.path} class=" hover:text-[#C084FC] transition">{item.name}</a></li>
              ))}
        </ul>
      
            <!-- CTA Button -->
       <div class="flex items-center gap-4 ">
        <div class="flex sm:gap-4">
      <a href="#" class="bg-white text-blue-900 text-md font-medium rounded-full px-4 py-2 hover:bg-[#C084FC] hover:text-white shadow-2xl transition">
        {buttonText}
      </a>
    </div>
    </div>
     <!-- Hamburger Icon (shown on small screens) -->
     <button class="md:hidden mr-5 text-white" id="menu-toggle">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
      </svg>
    </button>
  </div>

  <!-- Dropdown Menu (hidden by default, shown when menu is toggled) -->
  <div id="mobile-menu" class="fixed top-15 right-10 z-50 md:hidden hidden mt-3 text-right shadow-lg ">
    <ul class="space-y-2 text-white font-medium">
      <li><a href="/" class="block hover:text-[#C084FC]">Home</a></li>
      <li><a href="/News" class="block hover:text-[#C084FC]">News</a></li>
      <li><a href="/Trainings" class="block hover:text-[#C084FC]">Trainings</a></li>
      <li><a href="/Tournament" class="block hover:text-[#C084FC]">Tournaments</a></li>
    </ul>
          </div>
        </div>
      </nav>

  <!-- hero title -->
    <div class="hero" >
      <div class="hero-content">
        <h1 class="hero-title" set:html={copyTheme.Tournament.Hero.title}></h1>
        <p class="hero-subtitle" set:html={copyTheme.Tournament.Hero.subtitle}></p>
        <button class="hero-button" onclick="scrollToIntroduction()">{copyTheme.Tournament.Hero.buttonText}</button>
      </div>
    </div>
</div>

    <!-- overview section -->
    <div class ="overview" id="OverView">
        <div>
            <h1 class="subhead" set:html= {copyTheme.Tournament.Overview.subheadings}></h3>
                <h1 class="head" set:html= {copyTheme.Tournament.Overview.Headings}></h1>
                <p class="info md:w-190" set:html={copyTheme.Tournament.Overview.info}></p>
        </div>
    </div>

          

<!-- picture section -->
<div class="grid grid-cols-1 sm:grid-cols-1 place-items-center md:grid-cols-2 ">
    <div class=""><img src={erobot}/></div>
    <div class=""><img src={freestyle}/></div>
    <div class=""><img src={eromath}/></div>
    <div class=""><img src={cybersecurity}/></div>
  </div>
  

</Layout>
<style>

.page {
  background-size: cover;   
  background-position: center;   
  background-repeat: no-repeat;   
  min-height: 100vh;             
  width: 100%;                    
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 50;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    backdrop-filter: blur(20px);
}
 /* Hero Section */
 .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    padding: 20px;
    color: white;
    text-align: center;
  }
  /* Hero Title */
  .hero-title {
    font-family: 'Bebas Neue';
    font-size: 6rem;
    line-height: 1.2;
    margin-bottom: 1.2rem;
  }

  .hero-title .underline {
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
    text-underline-offset: 2px;
  }
  /* Hero Subtitle */
  .hero-subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    opacity: 0.9;
  }
  /* Hero Button */
  .hero-button {
    background-color: #ffffff;
    color: black;
    padding: 15px 30px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    border-radius: 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s;
  }
  .hero-button:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
  }

  .overview{
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    padding: 20px;
    text-align: center;
  }

.subhead{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 1.2rem;
    color: #6941C6;
}
.head{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 58px;
    line-height: 1.2;
    margin-bottom: 1.2rem;
}
.info{
    font-family: 'Inter';
    font-weight: 300;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 1.2rem;
    color: gray;
}
</style>


<script>
    document.addEventListener("DOMContentLoaded", () => {
      const learnMoreButton = document.querySelector(".hero-button");
      if (learnMoreButton) {
        learnMoreButton.addEventListener("click", () => {
          const introSection = document.getElementById("OverView");
          if (introSection) {
            introSection.scrollIntoView({ behavior: "smooth" });
          } else {
            console.error("Introduction section not found.");
          }
        });
      } else {
        console.error("Learn More button not found.");
      }
    });
  </script>

<script>
    document.addEventListener("DOMContentLoaded", () => {
      const toggle = document.getElementById("menu-toggle");
      const menu = document.getElementById("mobile-menu");
  
      toggle.addEventListener("click", () => {
        menu.classList.toggle("hidden");
      });
    });
  </script>
  
import Hero from "../components/Hero.astro";
import TournaOverview from "../components/TournaOverview.astro";
import CanParticipateTeachers from "../components/Teachers.astro";
import CanParticipateStudents from "../components/Students.astro";
import ReadyToCompete from "../components/ReadyToCompete.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <Hero /> 
    <div id="Teachers">
    <CanParticipateTeachers/>
    </div>

    <div id="Students">
    <CanParticipateStudents/>
    </div>

    <ReadyToCompete/>

</Layout>

<style>
 #Teachers{
        background-image: url("./ParticipateImages/teachersBg.PNG");
        background-size: cover;
        background-position:center;
      
      }

#Students{
        background-image: url("./ParticipateImages/studentsBg.PNG");
        background-size: cover;
        background-position:center;
      
      }
</style>
