---
import Layout from "../layouts/Layout.astro";
import "@/styles/style.css";

import { fetchPageContent } from "@/components/db";
import Hero from "@/components/Tournament/Hero.astro";

const copyTheme = await fetchPageContent("Tournament");
const { erobot, eromath, freestyle, cybersecurity } = copyTheme.Pictures;
---

<Layout title="Erovoutika Dubai - Tournament">
    <Hero />
    <div class="overview" id="OverView">
        <div>
            <h1 class="subhead" set:html={copyTheme.Overview.subheadings} />
            <h1 class="head" set:html={copyTheme.Overview.Headings} />
            <p class="info md:w-190" set:html={copyTheme.Overview.info} />
        </div>
        <!-- PICTURE SECTION -->
        <div
            class="grid grid-cols-1 sm:grid-cols-1 place-items-center md:grid-cols-2 bg-transparent"
        >
            <div class="transition hover:scale-120"><img src={erobot} /></div>
            <div class="transition hover:scale-120">
                <img src={freestyle} />
            </div>
            <div class="transition hover:scale-120"><img src={eromath} /></div>
            <div class="transition hover:scale-120">
                <img src={cybersecurity} />
            </div>
        </div>
    </div>

    <!-- WHO CAN PARTICIPATE SECTION -->
    <!-- Teacher -->
    <div>
        <div class="h-fit p-4 bg-[#0B0221] justify-items-center">
            <h1
                class="roboto-bold text-center md:text-6xl text-4xl text-white"
                set:html={copyTheme.Teachers.title}
            />
        </div>

        <div class="Teachers">
            <div class="md:p-30 p-5">
                <div
                    class="grid md:grid-cols-2 grid-cols-1 place-items-center md:gap-20 gap-10"
                >
                    <img
                        class="w-fit h-auto shadow-sm"
                        src={copyTheme.Teachers.image}
                    />
                    <div class="self-start w-full md:py-13">
                        <h1
                            class="md:text-5xl text-4xl md:mb-10 mb-5 text-black text-center bg-amber-200 w-fit rounded-md p-3 roboto-extra-bold"
                            set:html={copyTheme.Teachers.header}
                        />
                        <p
                            class="text-black inter md:pr-20 text-justify"
                            set:html={copyTheme.Teachers.subtext}
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Student -->
    <div class="Students">
        <div class="md:p-30 p-5">
            <div
                class="grid md:grid-cols-2 grid-cols-1 place-items-center md:gap-20 gap-10"
            >
                <div class="self-start w-full md:py-13">
                    <h1
                        class="md:text-5xl text-4xl md:mb-10 mb-5 text-white text-left bg-[#2562FF] w-fit rounded-md p-3 roboto-extra-bold"
                        set:html={copyTheme.Students.header}
                    />
                    <p
                        class="text-white inter md:pr-20 text-justify"
                        set:html={copyTheme.Students.subtext}
                    />
                </div>
                <div>
                    <img
                        class="h-auto w-full shadow-sm rounded-md"
                        src={copyTheme.Students.image}
                    />
                </div>
            </div>
        </div>
    </div>

    <!-- Compete-->

    <div class="place-items-center p-20 bg-white grid grid-cols-1">
        <p
            class="my-4 md:text-6xl text-5xl text-center roboto-extra-bold text-black"
            set:html={copyTheme.Compete.header}
        />

        <p
            class="flex max-w-[700px] my-10 roboto text-center text-black text-lg"
            set:html={copyTheme.Compete.subtext}
        />

        <a
            class="text-center text-2xl roboto-bold inline-block rounded-full bg-gradient-to-r from-BlueStart via-purple-600 to-PinkEnd px-8 py-3 text-white transition hover:scale-110 hover:shadow-xl focus:ring-3 focus:outline-hidden"
            href={copyTheme.Compete.buttonLink}
            target="_blank"
        >
            {copyTheme.Compete.buttonText}
        </a>
    </div>
</Layout>
<style>
    .page {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
    }
    /* Hero Section */
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        height: 100vh;
        padding: 20px;
        color: white;
        text-align: center;
    }
    /* Hero Title */
    .hero-title {
        font-family: "Bebas Neue";
        font-size: 6rem;
        line-height: 1.2;
        margin-bottom: 1.2rem;
    }

    .hero-title .underline {
        text-decoration: underline;
        text-decoration-thickness: 0.5px;
        text-underline-offset: 2px;
    }
    /* Hero Subtitle */
    .hero-subtitle {
        font-family: "Poppins", sans-serif;
        font-size: 1.5rem;
        margin-bottom: 2rem;
        opacity: 0.9;
    }
    /* Hero Button */
    .hero-button {
        background-color: #ffffff;
        color: black;
        padding: 15px 30px;
        font-size: 1rem;
        font-family: "Poppins", sans-serif;
        text-transform: uppercase;
        font-weight: 600;
        text-decoration: none;
        border-radius: 50px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        transition:
            background-color 0.3s,
            transform 0.2s;
    }
    .hero-button:hover {
        background-color: #f0f0f0;
        transform: scale(1.05);
    }

    .overview {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 20px;
        text-align: center;
        background-color: white;
    }

    .subhead {
        font-family: "Inter";
        font-weight: 600;
        font-size: 24px;
        line-height: 1.2;
        /* margin-bottom: 1.2rem; */
        color: #6941c6;
    }
    .head {
        font-family: "Inter";
        font-weight: 600;
        font-size: 4rem;
        line-height: 1.2;
        margin-bottom: 1.2rem;
        font-weight: bold;
        color: black;
    }
    .info {
        font-family: "Inter";
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 1.2;
        margin-bottom: 1.2rem;
        color: gray;
    }

    .Teachers {
        background-image: url("./ParticipateImages/teachersBg.PNG");
        background-size: cover;
        background-position: center;
    }

    .Students {
        background-image: url("./ParticipateImages/studentsBg.PNG");
        background-size: cover;
        background-position: center;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const learnMoreButton = document.querySelector(".hero-button");
        if (learnMoreButton) {
            learnMoreButton.addEventListener("click", () => {
                const introSection = document.getElementById("OverView");
                if (introSection) {
                    introSection.scrollIntoView({ behavior: "smooth" });
                } else {
                    console.error("Introduction section not found.");
                }
            });
        } else {
            console.error("Learn More button not found.");
        }
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const toggle = document.getElementById("menu-toggle");
        const menu = document.getElementById("mobile-menu");

        if (toggle && menu) {
            toggle.addEventListener("click", () => {
                menu.classList.toggle("hidden");
            });
        }
    });
</script>
