---
import Layout from "../layouts/Layout.astro";


async function fetchAdminContent() {
  return {
    title: "BE PART OF THE<br><span class='underline'>FUTURE!</span>",
    subtitle: "Join us for an International Training & Tournament Camp!",
    image: "/backgrounds/Trainings.png", 
    buttonText: "Learn More",
    introductionTitle: "Get Better Everyday In",
    introductionSubtitle: "Robolution Dubai 2025 challenges you to grow in robotics, automation, and cybersecurity. By competing, learning, and networking with experts worldwide, you'll enhance your technical skills, problem-solving abilities, and innovation mindset—preparing you for future success!",
    featureRoboAutoTitle: "Robotics & Automation",
    featureRoboAutoSubtitle: "Erovoutika provides hands-on training, certifications, and competitions, equipping students, educators, and professionals with cutting-edge skills in robotics and automation systems.",
    featureRoboImg: "/backgrounds/erobot.png",
    featureCyberTitle: "Cybersecurity",
    featureCyberSubtitle: "Erovoutika promotes cybersecurity education and training by integrating network security, ethical hacking, and data protection into its programs. Through hands-on workshops, certifications, and competitions, participants gain expertise in threat detection, encryption, and cybersecurity best practices.",
    featureCyberImg: "/backgrounds/cybersecurity.png",
    featureRNDTitle: "Research & Development",
    featureRNDSubtitle: "Erovoutika is dedicated to advancing innovation through Research & Development (R&D), with a strong emphasis on robotics, automation, cybersecurity, and AI-powered solutions. Additionally, it explores technical writing for journal publications and patenting, fostering knowledge sharing and technological advancements.",
    featureRNDImg: "/backgrounds/rnd.png",
    content4Title: "Join Us",
    content4miniTitle: "START BUILDING IDEAS",
    content4subtitle: "Be part of Robolution Dubai 2025, a global event uniting innovators from multiple countries in robotics, automation, and cybersecurity. Connect, compete, and collaborate with a diverse international community!",
    content4buttonText: "Register Now"
  };
}


const content = await fetchAdminContent();
---

<Layout>

  <section class="hero" style={`background-image: url(${content.image});`}>
    <div class="hero-content">
      <h1 class="hero-title" set:html={content.title}></h1>
      <p class="hero-subtitle">{content.subtitle}</p>
      <button class="hero-button" onclick="scrollToIntroduction()">{content.buttonText}</button>
    </div>
  </section>

  <section class = "introduction" id="introduction">
    <div class="introduction-content">
      <h1 class ="intro-title" set:html={content.introductionTitle}></h1>
      <p class = "intro-subtitle">{content.introductionSubtitle}</p>
    </div>
  </section>

  <section class="feature-robo-auto">
    <div class="feature-container">
      <div class="feature-text">
        <div class="feature-robo-title">{content.featureRoboAutoTitle}</div>
        <p class="feature-robo-subtitle">{content.featureRoboAutoSubtitle}</p>
      </div>
      <div class="feature-image">
        <img src={content.featureRoboImg} alt="Robotics & Automation" />
      </div>
    </div>
  </section>

  <section class="feature-cyber">
    <div class="feature-cyber-container">
      <div class="feature-cyber-image">
        <img src={content.featureCyberImg} alt="Cybersecurity" />
      </div>
      <div class="feature-cyber-text">
        <div class="feature-cyber-title">{content.featureCyberTitle}</div>
        <p class="feature-cyber-subtitle">{content.featureCyberSubtitle}</p>
      </div>
    </div>
  </section>

  <section class="feature-rnd">
    <div class="feature-rnd-container">
      <div class="feature-rnd-text">
        <div class="feature-rnd-title">{content.featureRNDTitle}</div>
        <p class="feature-rnd-subtitle">{content.featureRNDSubtitle}</p>
      </div>
      <div class="feature-rnd-image">
        <img src={content.featureRNDImg} alt="Research & Development" />
      </div>
    </div>
  </section>

  <section class = "content-4">
    <div class="content-4-container">
      <h5 class ="content-4-minititle" set:html={content.content4miniTitle}></h5>
      <h1 class ="content-4-title" set:html={content.content4Title}></h1>
      <p class = "content-4-subtitle">{content.content4subtitle}</p>
      <button class="content-4-button">{content.content4buttonText}</button>
    </div>
  </section>

</Layout>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;600;700&display=swap');
  
  
  /* Hero Section */
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 20px;
    color: white;
    text-align: center;
  }
  /* Hero Title */
  .hero-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5rem;
    line-height: 1.2;
    margin-bottom: 1.2rem;
  }

  .hero-title .underline {
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
    text-underline-offset: 2px;
    color: #ffffff;
  }
  /* Hero Subtitle */
  .hero-subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    opacity: 0.9;
  }
  /* Hero Button */
  .hero-button {
    background-color: #ffffff;
    color: black;
    padding: 15px 30px;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    border-radius: 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s;
  }
  .hero-button:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
  }
  /* Introduction */
  .introduction {
    background: white;
    height: 40vh;
    padding: 40px 20px;
    text-align: center;
    align-items: center;
    border-radius: 8px;
    margin: 20px auto; 
    max-width: 750px;
  }
  .intro-title {
    font-family: Roboto, sans-serif;
    font-size: 2rem; 
    font-weight: 700; 
    color: #212529;
    margin-bottom: 16px; 
  }
  .intro-subtitle {
    font-size: 1rem;
    color: #475569;
    line-height: 1.6; 
    margin: 0;
  }


.feature-robo-auto {
  background-color: #0B0221; 
  padding: 30px;
  height: 65vh; 
  display: flex;
  justify-content: center;
  align-items: center; 
  box-sizing: border-box;
}

.feature-container {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: space-evenly;
  max-width: 1000px;
  width: 100%;
  height: 70%;
  gap: 50px;
}

.feature-text {
  flex: 1;
  color: white;
  padding: auto 20px;
}

.feature-robo-title {
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: white;
  background: #2562FF; 
  padding: 10px 15px; 
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 1.5rem;
}

.feature-robo-subtitle {
  font-size: 1.2rem;
  margin-top: 10px;
  line-height: 1.5;
}

.feature-image{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #233876;
  border-radius: 10px;
}

.feature-image img {
  margin: 15px;
  max-width: 90%;
  border-radius: 10px;
  }

  .feature-cyber {
  background-color: #F1F5F9; 
  padding: 30px;
  height: 65vh; 
  display: flex;
  justify-content: center;
  align-items: center; 
  box-sizing: border-box;
}

.feature-cyber-container {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: space-evenly;
  max-width: 1000px;
  width: 100%;
  height: 70%;
  gap: 50px;
}

.feature-cyber-text {
  flex: 1;
  color: #212529;
  padding: auto 20px;
}

.feature-cyber-title {
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #212529;
  background: #FFE492; 
  padding: 10px 15px; 
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 1.5rem;
}

.feature-cyber-subtitle {
  font-size: 1.2rem;
  margin-top: 10px;
  line-height: 1.5;
}

.feature-cyber-image{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFE492;
  border-radius: 10px;
}

.feature-cyber-image img {
  margin: 15px;
  max-width: 90%;
  border-radius: 10px;
  }


.feature-rnd{
  background-color: #0B0221; 
  padding: 30px;
  height: 65vh; 
  display: flex;
  justify-content: center;
  align-items: center; 
  box-sizing: border-box;
}

.feature-rnd-container {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: space-evenly;
  max-width: 1050px;
  width: 100%;
  height: 70%;
  gap: 60px;
}

.feature-rnd-text {
  flex: 1;
  color: white;
  padding: auto 20px;
}

.feature-rnd-title {
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: white;
  background: #2562FF; 
  padding: 10px 15px; 
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 1.5rem;
}

.feature-rnd-subtitle {
  font-size: 1.2rem;
  margin-top: 10px;
  line-height: 1.5;
}

.feature-rnd-image{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #233876;
  border-radius: 10px;
}

.feature-rnd-image img {
  margin: 15px;
  max-width: 90%;
  border-radius: 10px;
  }

  .content-4 {
    background: white;
    height: 55vh;
    padding: 40px 20px;
    text-align: center;
    align-items: center;
    border-radius: 8px;
    margin: 20px auto; 
    max-width: 750px;
  }

  .content-4-minititle {
    font-family: Roboto, sans-serif;
    font-size: 1rem; 
    font-weight: 700; 
    color: #FEA400;
    margin-bottom: 16px; 
  }

  .content-4-title {
    font-family: Roboto, sans-serif;
    font-size: 2rem; 
    font-weight: 700; 
    color: #212529;
    margin-bottom: 16px; 
  }
  .content-4-subtitle {
    font-size: 1rem;
    color: #475569;
    line-height: 1.6;
    margin-bottom: 2rem;

  }

  .content-4-button {
    background-color: #2562FF;
    color: white;
    padding: 15px 30px;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    border-radius: 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s;
  }
  .content-4-button:hover {
    background-color: #f0f0f0;
    color: black;
    transform: scale(1.05);
  }

</style>

<script>
  const learnMoreButton = document.querySelector(".hero-button");
  learnMoreButton.addEventListener("click", () => {
    const introSection = document.getElementById("introduction");
    if (introSection) {
      introSection.scrollIntoView({ behavior: "smooth" });
    } else {
      console.error("Introduction section not found.");
    }
  });
</script>