---
import { fetchPageContent } from "../db";
const content = await fetchPageContent("Home");
---

<div class="p-10 bg-DarkBlue">
    <div class="text-center mb-16">
        <h3
            class="mb-8 text-5xl lg:text-[96px] font-bebas tracking-wider text-white"
            set:html={content.FrequentlyAsk.Title}
        />
        <h5
            class="text-white text-xs lg:text-base font-roboto"
            set:html={content.FrequentlyAsk.description1}
        />
    </div>

    <div class="flex flex-col space-y-4 items-center">
        <details
            class="w-full max-w-400 group [&_summary::-webkit-details-marker]:hidden"
        >
            <summary
                class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
            >
                <h2
                    class="font-medium"
                    set:html={content.FrequentlyAsk.Question1}
                />

                <svg
                    class="size-5 shrink-0 transition duration-300 group-open:-rotate-180"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M19 9l-7 7-7-7"></path>
                </svg>
            </summary>

            <p
                class="mt-4 px-4 leading-relaxed text-gray-100"
                set:html={content.FrequentlyAsk.Answer1}
            />
        </details>

        <details
            class="w-full max-w-400 group [&_summary::-webkit-details-marker]:hidden"
        >
            <summary
                class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
            >
                <h2
                    class="font-medium"
                    set:html={content.FrequentlyAsk.Question2}
                />

                <svg
                    class="size-5 shrink-0 transition duration-300 group-open:-rotate-180"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M19 9l-7 7-7-7"></path>
                </svg>
            </summary>

            <p
                class="mt-4 px-4 leading-relaxed text-gray-100"
                set:html={content.FrequentlyAsk.Answer2}
            />
        </details>

        <details
            class="w-full max-w-400 group [&_summary::-webkit-details-marker]:hidden"
        >
            <summary
                class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
            >
                <h2
                    class="font-medium"
                    set:html={content.FrequentlyAsk.Question3}
                />

                <svg
                    class="size-5 shrink-0 transition duration-300 group-open:-rotate-180"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M19 9l-7 7-7-7"></path>
                </svg>
            </summary>

            <p
                class="mt-4 px-4 leading-relaxed text-gray-100"
                set:html={content.FrequentlyAsk.Answer3}
            />
        </details>
    </div>
</div>
