---
import { fetchPageContent } from "../db";
// async function fetchAdminContent() {
//     return {
//         Home: {
//             FrequentlyAsk: {
//                 Title: "FREQUENTLY ASKED QUESTIONS",
//                 description1: "Need Help? Check Out Our Most Common Queries",

//                 Question1: "WHAT WILL BE THE OUTLINE OF THE EVENT?",
//                 Answer1:
//                     "Most of the outlines of the event of Erovoutika will be posted weeks prior to the said event, so stay tuned! Additional info shall also be given to your respective email once successfully registered.",

//                 Question2: "WHO CAN PARTICIPATE?",
//                 Answer2:
//                     "Anyone. If you have interest in one of our events no need to hesitate to join us!",

//                 Question3: "WHAT TO EXPECT?",
//                 Answer3:
//                     " Enhance your knowledge, experience and connect with people who have the same interest as you! Join us in our ROBOLUTION!",
//             },
//         },
//     };
// }
const content = await fetchPageContent("Home");
---

<div class="p-10 bg-DarkBlue">
    <div class="text-center mb-16">
        <h3
            class="mb-8 text-6xl font-bebas tracking-wider text-white"
            set:html={content.FrequentlyAsk.Title}
        />
        <h5
            class="text-gray-400 text-xs lg:text-base font-roboto"
            set:html={content.FrequentlyAsk.description1}
        />
    </div>

    <div class="space-y-4">
        <details class="group [&_summary::-webkit-details-marker]:hidden">
            <summary
                class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
            >
                <h2
                    class="font-medium"
                    set:html={content.FrequentlyAsk.Question1}
                />

                <svg
                    class="size-5 shrink-0 transition duration-300 group-open:-rotate-180"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M19 9l-7 7-7-7"></path>
                </svg>
            </summary>

            <p
                class="mt-4 px-4 leading-relaxed text-gray-100"
                set:html={content.FrequentlyAsk.Answer1}
            />
        </details>

        <details class="group [&_summary::-webkit-details-marker]:hidden">
            <summary
                class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
            >
                <h2
                    class="font-medium"
                    set:html={content.FrequentlyAsk.Question2}
                />

                <svg
                    class="size-5 shrink-0 transition duration-300 group-open:-rotate-180"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M19 9l-7 7-7-7"></path>
                </svg>
            </summary>

            <p
                class="mt-4 px-4 leading-relaxed text-gray-100"
                set:html={content.FrequentlyAsk.Answer2}
            />
        </details>

        <details class="group [&_summary::-webkit-details-marker]:hidden">
            <summary
                class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
            >
                <h2
                    class="font-medium"
                    set:html={content.FrequentlyAsk.Question3}
                />

                <svg
                    class="size-5 shrink-0 transition duration-300 group-open:-rotate-180"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M19 9l-7 7-7-7"></path>
                </svg>
            </summary>

            <p
                class="mt-4 px-4 leading-relaxed text-gray-100"
                set:html={content.FrequentlyAsk.Answer3}
            />
        </details>
    </div>
</div>
