---
//import shadcn
import { Card, CardContent, CardHeader } from "@/components/ui/card";
import { fetchPageContent } from "@/components/db";

const content = await fetchPageContent("Home");
---

<div>
    <h2
        class="font-bold text-center m-5 text-5xl lg:text-[96px] p-5 text-[#212529] font-bebas tracking-wider"
        set:html={content.Highlights.Title}
    />

    <div class="grid md:grid-cols-5 grid-cols-1 gap-4 p-5 lg:px-20">
        <Card
            className="border-transparent bg-transparent shadow-none py-2 lg:py-6 gap-2 lg:gap-6"
        >
            <CardHeader className="place-items-center">
                <img
                    src={content.Highlights.Highlight1.Icon1}
                    class="h-14 w-auto"
                />
            </CardHeader>
            <CardContent>
                <h2
                    class="font-semibold text-lg text-center mb-2 text-black"
                    set:html={content.Highlights.Highlight1.Highlight1}
                />
                <h4
                    class="text-center text-xs lg:text-base text-zinc-800"
                    set:html={content.Highlights.Highlight1.description1}
                />
            </CardContent>
        </Card>

        <Card
            className="border-transparent bg-transparent shadow-none py-2 lg:py-6 gap-2 lg:gap-6"
        >
            <CardHeader className="place-items-center">
                <img
                    src={content.Highlights.Highlight2.Icon2}
                    class="h-14 w-auto"
                />
            </CardHeader>
            <CardContent>
                <h2
                    class="font-semibold text-lg text-center mb-2 text-black"
                    set:html={content.Highlights.Highlight2.Highlight2}
                />
                <h4
                    class="text-center text-xs lg:text-base text-zinc-800"
                    set:html={content.Highlights.Highlight2.description2}
                />
            </CardContent>
        </Card>

        <Card
            className="border-transparent bg-transparent shadow-none py-2 lg:py-6 gap-2 lg:gap-6"
        >
            <CardHeader className="place-items-center">
                <img
                    src={content.Highlights.Highlight3.Icon3}
                    class="h-14 w-auto"
                />
            </CardHeader>
            <CardContent>
                <h2
                    class="font-semibold text-lg text-center mb-2 text-black"
                    set:html={content.Highlights.Highlight3.Highlight3}
                />
                <h4
                    class="text-center text-xs lg:text-base text-zinc-800"
                    set:html={content.Highlights.Highlight3.description3}
                />
            </CardContent>
        </Card>

        <Card
            className="border-transparent bg-transparent shadow-none py-2 lg:py-6 gap-2 lg:gap-6"
        >
            <CardHeader className="place-items-center">
                <img
                    src={content.Highlights.Highlight4.Icon4}
                    class="h-14 w-auto"
                />
            </CardHeader>
            <CardContent>
                <h2
                    class="font-semibold text-lg text-center mb-2 text-black"
                    set:html={content.Highlights.Highlight4.Highlight4}
                />
                <h4
                    class="text-center text-xs lg:text-base text-zinc-800"
                    set:html={content.Highlights.Highlight4.description4}
                />
            </CardContent>
        </Card>

        <Card
            className="border-transparent bg-transparent shadow-none py-2 lg:py-6 gap-2 lg:gap-6"
        >
            <CardHeader className="place-items-center ">
                <img
                    src={content.Highlights.Highlight5.Icon5}
                    class="h-14 w-auto"
                />
            </CardHeader>
            <CardContent>
                <h2
                    class="font-semibold text-lg text-center mb-2 text-black"
                    set:html={content.Highlights.Highlight5.Highlight5}
                />
                <h4
                    class="text-center text-xs lg:text-base text-zinc-800"
                    set:html={content.Highlights.Highlight5.description5}
                />
            </CardContent>
        </Card>
    </div>
</div>
