---
import { fetchPageContent } from "../db";
let data = await fetchPageContent("Home");
const packageDetails = data.package;

const icon = "/src/assets/images/icons/Icon.png";
---

<div
    class="align-center flex flex-col justify-center items-center w-full h-fit bg-[#F3F4F6]"
>
    <h1 class="text-[96px] font-bebas">What’s Included</h1>
    <div
        class="flex flex-col justify-center items-center p-5 gap-5 w-full max-w-fit bg-amber-200"
    >
        <div
            class="flex flex-col lg:flex-row justify-center p-10 gap-y-10 lg:gap-20 h-fit w-full bg-purple-600"
        >
            <!--item 1 -->

            <div
                class="rounded-[45px] flex w-full max-w-[600px] h-[312px] overflow-hidden"
                style={`background-color: ${packageDetails[0].package.color}`}
            >
                <div class="flex justify-center items-center w-full h-full p-4">
                    <div
                        class="flex flex-col items-start p-4 gap-4 w-full lg:min-w-[306px] h-fit"
                    >
                        <div
                            class="bg-[#6AAAFF] px-[7px] w-fit h-full rounded-lg"
                        >
                            <h1 class="font-bold text-3xl leading-10">
                                {packageDetails[0].package.name}
                            </h1>
                        </div>
                        <p>
                            {packageDetails[0].package.description}
                        </p>
                        <div
                            class="flex justify-start items-center w-full gap-2"
                        >
                            <img class="w-10 h-full" src={icon} alt="Icon" />
                            <button
                                class="flex items-center w-fit p-4 h-10 rounded-xl"
                                >{packageDetails[0].package.buttonText}
                        </div>
                    </div>
                </div>
                <div
                    class="flex justify-center items-center w-[70%] lg:w-full h-full"
                >
                    <div
                        class="bg-blue-300 w-full max-w-[210px] h-[264px] m-3 rounded-[45px]"
                    >
                    </div>
                </div>
            </div>

            <!--item 2 -->
            <div
                class="rounded-[45px] flex w-full max-w-[600px] h-[312px] overflow-hidden"
                style={`background-color: ${packageDetails[1].package.color}`}
            >
                <div class="flex justify-center items-center w-full h-full p-4">
                    <div
                        class="flex flex-col items-start p-4 gap-4 w-full lg:min-w-[306px] h-fit"
                    >
                        <div class="bg-white px-[7px] w-fit h-full rounded-lg">
                            <h1 class="font-bold text-3xl leading-10">
                                {packageDetails[1].package.name}
                            </h1>
                        </div>
                        <p>
                            {packageDetails[1].package.description}
                        </p>
                        <div
                            class="flex justify-start items-center w-full gap-2"
                        >
                            <img class="w-10 h-full" src={icon} alt="Icon" />
                            <button
                                class="flex items-center w-fit p-4 h-10 rounded-xl"
                                >{packageDetails[1].package.buttonText}</button
                            >
                        </div>
                    </div>
                </div>
                <div
                    class="flex justify-center items-center w-[70%] lg:w-full h-full"
                >
                    <div
                        class="bg-blue-300 w-full max-w-[210px] h-[264px] m-3 rounded-[45px]"
                    >
                    </div>
                </div>
            </div>
        </div>

        <div
            class="flex lg:flex-row sm:flex-col justify-center p-10 gap-y-10 lg:gap-20 h-fit w-full bg-emerald-300"
        >
            <!--item 3 -->
            <div
                class="rounded-[45px] flex w-full max-w-[600px] h-[312px] overflow-hidden"
                style={`background-color: ${packageDetails[2].package.color}`}
            >
                <div class="flex justify-center items-center w-full h-full p-4">
                    <div
                        class="flex flex-col items-start p-4 gap-4 w-full lg:min-w-[306px] h-fit"
                    >
                        <div class="bg-white px-[7px] w-fit h-full rounded-lg">
                            <h1 class="font-bold text-3xl leading-10">
                                {packageDetails[2].package.name}
                            </h1>
                        </div>
                        <p>
                            {packageDetails[2].package.description}
                        </p>
                        <div
                            class="flex justify-start items-center w-full gap-2"
                        >
                            <img class="w-10 h-full" src={icon} alt="Icon" />
                            <button
                                class="flex items-center w-fit p-4 h-10 rounded-xl"
                                >{packageDetails[2].package.buttonText}</button
                            >
                        </div>
                    </div>
                </div>
                <div
                    class="flex justify-center items-center w-[70%] lg:w-full h-full"
                >
                    <div
                        class="bg-blue-300 w-full max-w-[210px] h-[264px] m-3 rounded-[45px]"
                    >
                    </div>
                </div>
            </div>

            <!--item 4 -->
            <div
                class="rounded-[45px] flex w-full max-w-[600px] h-[312px] overflow-hidden"
                style={`background-color: ${packageDetails[3].package.color}`}
            >
                <div class="flex justify-center items-center w-full h-full p-4">
                    <div
                        class="flex flex-col items-start p-4 gap-4 w-full lg:min-w-[306px] h-fit"
                    >
                        <div
                            class="bg-[#FDE68A] px-[7px] w-fit h-full rounded-lg"
                        >
                            <h1 class="font-bold text-3xl leading-10">
                                {packageDetails[3].package.name}
                            </h1>
                        </div>
                        <p>
                            {packageDetails[3].package.description}
                        </p>
                        <div
                            class="flex justify-start items-center w-full gap-2"
                        >
                            <img class="w-10 h-full" src={icon} alt="Icon" />
                            <button
                                class="flex items-center w-fit p-4 h-10 rounded-xl"
                                >{packageDetails[3].package.buttonText}</button
                            >
                        </div>
                    </div>
                </div>
                <div
                    class="flex justify-center items-center w-[70%] lg:w-full h-full"
                >
                    <div
                        class="bg-blue-300 w-full max-w-[210px] h-[264px] m-3 rounded-[45px]"
                    >
                    </div>
                </div>
            </div>
        </div>
        <div
            class="relative flex justify-center items-center h-fit w-full p-10 gap-5 bg-purple-400"
        >
            <div
                class="rounded-[45px] w-full h-[450px] flex flex-col items-center justify-center p-10 gap-5 bg-white overflow-hidden"
            >
                <h2 class="text-5xl font-bold">Tour Gallery</h2>
                <div class="w-full h-[450px] relative">
                    <img
                        class="w-[148.36px] h-[223.25px] left-[606.17px] top-0 absolute rounded-sm border-[0.33px] border-black"
                        src={packageDetails[4].package.image1}
                    />
                    <img
                        class="w-[148.36px] h-[130.34px] left-[303.09px] top-0 absolute rounded-sm border-[0.33px] border-black"
                        src={packageDetails[4].package.image2}
                    />
                    <img
                        class="w-[148.36px] h-[85.76px] left-[757.72px] top-0 absolute rounded-sm border-[0.33px] border-black"
                        src={packageDetails[4].package.image3}
                    />
                    <img
                        class="w-[148.36px] h-[130.34px] left-[151.54px] top-[226.66px] absolute rounded-sm border-[0.33px] border-black"
                        src={packageDetails[4].package.image4}
                    />
                    <img
                        class="w-[148.36px] h-[124.22px] left-[454.63px] top-[226.66px] absolute rounded-sm border-[0.33px] border-black"
                        src={packageDetails[4].package.image5}
                    />
                    <img
                        class="w-[148.36px] h-[223.25px] left-[909.26px] top-0 absolute rounded-sm border-[0.33px] border-black"
                        src={packageDetails[4].package.image6}
                    />
                    <img
                        class="w-[148.36px] h-[223.25px] left-[454.63px] top-0 absolute rounded-sm border-[0.33px] border-black"
                        src={packageDetails[4].package.image7}
                    />
                    <img
                        class="w-[148.36px] h-[223.25px] left-[757.72px] top-[89.17px] absolute rounded-sm border-[0.33px] border-black"
                        src={packageDetails[4].package.image8}
                    />
                    <img
                        class="w-[148.36px] h-[130.34px] left-0 top-0 absolute rounded-sm border-[0.33px] border-black"
                        src={packageDetails[4].package.image9}
                    />
                    <img
                        class="w-[148.36px] h-[85.76px] left-[606.17px] top-[226.66px] absolute rounded-sm border-[0.33px] border-black"
                        src={packageDetails[4].package.image10}
                    />
                    <img
                        class="w-[148.36px] h-[223.25px] left-[909.26px] top-[226.66px] absolute rounded-sm border-[0.33px] border-black"
                        src={packageDetails[4].package.image11}
                    />
                    <img
                        class="w-[148.36px] h-[223.25px] left-0 top-[133.75px] absolute rounded-sm border-[0.33px] border-black"
                        src={packageDetails[4].package.image12}
                    />
                    <img
                        class="w-[148.36px] h-[223.25px] left-[303.09px] top-[133.75px] absolute rounded-sm border-[0.33px] border-black"
                        src={packageDetails[4].package.image13}
                    />
                    <img
                        class="w-[148.36px] h-[223.25px] left-[151.54px] top-0 absolute rounded-sm border-[0.33px] border-black"
                        src={packageDetails[4].package.image14}
                    />
                </div>
            </div>
        </div>
    </div>
</div>
