---
import { fetchPageContent } from "../db";
let data = await fetchPageContent("Home");
const packageDetails = data.package;

const icon = "/src/assets/images/icons/Icon.png";
---

<section
    id="packages"
    class="align-center flex flex-col justify-center items-center w-full h-fit p-10 bg-[#F3F4F6]"
>
    <h1
        class="font-bold text-5xl lg:text-[96px] p-5 text-center font-bebas tracking-wider text-[#212529]"
    >
        {packageDetails[0].title}
    </h1>
    <div
        class="flex flex-col justify-center items-center p-5 gap-5 w-full max-w-fit rounded-lg border-1 bg-white"
    >
        <div
            style={`background-color: ${packageDetails[1].package.containerColor}`}
            class="flex flex-wrap lg:flex-row justify-center p-2 lg:p-10 gap-y-5 lg:gap-20 h-fit w-full rounded-lg"
        >
            <!--item 1 -->

            <div
                class="rounded-[45px] flex w-[600px] h-[312px] overflow-hidden"
                style={`background-color: ${packageDetails[1].package.color}; display: ${packageDetails[1].package.display}`}
            >
                <div class="flex justify-center items-center w-full h-full p-4">
                    <div
                        class="flex flex-col items-center lg:items-start justify-center p-4 gap-4 w-full lg:min-w-[306px] h-full"
                    >
                        <div
                            class="bg-[#6AAAFF] px-[7px] w-fit lg:h-full rounded-lg"
                            style={`background-color: ${packageDetails[1].package.titleColor}`}
                        >
                            <h1
                                class="font-bold text-2xl md:text-2xl lg:text-3xl leading-10"
                            >
                                {packageDetails[1].package.name}
                            </h1>
                        </div>
                        <p
                            class="text-xs text-center lg:text-start md:text-xl lg:text-[17px]"
                        >
                            {packageDetails[1].package.description}
                        </p>
                        <div
                            class="flex justify-center lg:justify-start items-center w-full gap-2"
                        >
                            <div
                                class="relative hover:scale-110 transition-transform duration-300"
                            >
                                <a
                                    href={packageDetails[1].package.buttonLink}
                                    target="_blank"
                                    rel="noopener noreferrer"
                                >
                                    <img
                                        class="w-5 h-5 lg:w-10 lg:h-full object-cover"
                                        src={icon}
                                        alt="Icon"
                                    />
                                </a>
                            </div>
                            <a
                                class="flex items-center text-xs lg:text-[17px] w-fit lg:p-2 h-10 rounded-xl"
                                href={packageDetails[1].package.buttonLink}
                                >{packageDetails[1].package.buttonText}
                            </a>
                        </div>
                    </div>
                </div>
                <div
                    class="hidden lg:flex justify-center items-center w-[70%] lg:w-full h-full"
                >
                    <div
                        style={`background-image: url('${packageDetails[1].package.image}')`}
                        class="bg-blue-300 w-full max-w-[210px] bg-cover bg-center h-[264px] m-3 rounded-[45px]"
                    >
                    </div>
                </div>
            </div>

            <!--item 2 -->
            <div
                class="rounded-[45px] flex w-full max-w-[600px] h-[312px] overflow-hidden"
                style={`background-color: ${packageDetails[2].package.color}; display: ${packageDetails[1].package.display}`}
            >
                <div class="flex justify-center items-center w-full h-full p-4">
                    <div
                        class="flex flex-col items-center lg:items-start justify-center p-4 gap-4 w-full lg:min-w-[306px] h-fit"
                    >
                        <div
                            class="bg-white px-[7px] w-fit h-full rounded-lg"
                            style={`background-color: ${packageDetails[2].package.titleColor}`}
                        >
                            <h1
                                class="font-bold text-2xl md:text-2xl lg:text-3xl leading-10"
                            >
                                {packageDetails[2].package.name}
                            </h1>
                        </div>
                        <p
                            class="text-xs text-center lg:text-start md:text-xl lg:text-[17px]"
                        >
                            {packageDetails[2].package.description}
                        </p>
                        <div
                            class="flex justify-center lg:justify-start items-center w-full gap-2"
                        >
                            <div
                                class="relative hover:scale-110 transition-transform duration-300"
                            >
                                <a
                                    href={packageDetails[2].package.buttonLink}
                                    target="_blank"
                                    rel="noopener noreferrer"
                                >
                                    <img
                                        class="w-5 h-5 lg:w-10 lg:h-full object-cover"
                                        src={icon}
                                        alt="Icon"
                                    />
                                </a>
                            </div>
                            <a
                                class="flex items-center text-xs lg:text-[17px] w-fit lg:p-2 h-10 rounded-xl"
                                href={packageDetails[2].package.buttonLink}
                                >{packageDetails[2].package.buttonText}</a
                            >
                        </div>
                    </div>
                </div>
                <div
                    class="hidden lg:flex justify-center items-center w-[70%] lg:w-full h-full"
                >
                    <div
                        style={`background-image: url('${packageDetails[2].package.image}')`}
                        class="bg-blue-300 w-full max-w-[210px] bg-cover bg-center h-[264px] m-3 rounded-[45px]"
                    >
                    </div>
                </div>
            </div>
        </div>

        <div
            style={`background-color: ${packageDetails[3].package.containerColor}`}
            class="flex flex-wrap lg:flex-row justify-center p-2 lg:p-10 gap-y-5 lg:gap-20 h-fit w-full rounded-[45px]"
        >
            <!--item 3 -->
            <div
                class="rounded-[45px] flex w-[600px] h-[312px] overflow-hidden"
                style={`background-color: ${packageDetails[3].package.color}; display: ${packageDetails[2].package.display}`}
            >
                <div class="flex justify-center items-center w-full h-full p-4">
                    <div
                        class="flex flex-col items-center lg:items-start justify-center p-4 gap-4 w-full lg:min-w-[306px] h-fit"
                    >
                        <div
                            class="bg-white px-[7px] w-fit h-full rounded-lg"
                            style={`background-color: ${packageDetails[3].package.titleColor}`}
                        >
                            <h1
                                class="font-bold text-2xl md:text-2xl lg:text-3xl leading-10"
                            >
                                {packageDetails[3].package.name}
                            </h1>
                        </div>
                        <p
                            class="text-xs text-center lg:text-start md:text-xl lg:text-[17px]"
                        >
                            {packageDetails[3].package.description}
                        </p>
                        <div
                            class="flex justify-center lg:justify-start items-center w-full gap-2"
                        >
                            <div
                                class="relative hover:scale-110 transition-transform duration-300"
                            >
                                <a
                                    href={packageDetails[3].package.buttonLink}
                                    target="_blank"
                                    rel="noopener noreferrer"
                                >
                                    <img
                                        class="w-5 h-5 lg:w-10 lg:h-full object-cover"
                                        src={icon}
                                        alt="Icon"
                                    />
                                </a>
                            </div>
                            <a
                                class="flex items-center text-xs lg:text-[17px] w-fit lg:p-2 h-10 rounded-xl"
                                href={packageDetails[3].package.buttonLink}
                                >{packageDetails[3].package.buttonText}</a
                            >
                        </div>
                    </div>
                </div>
                <div
                    class="hidden lg:flex justify-center items-center w-[70%] lg:w-full h-full"
                >
                    <div
                        style={`background-image: url('${packageDetails[3].package.image}')`}
                        class="bg-blue-300 w-full max-w-[210px] bg-cover bg-center h-[264px] m-3 rounded-[45px]"
                    >
                    </div>
                </div>
            </div>

            <!--item 4 -->
            <div
                class="rounded-[45px] flex w-full max-w-[600px] h-[312px] overflow-hidden"
                style={`background-color: ${packageDetails[4].package.color}; display: ${packageDetails[3].package.display}`}
            >
                <div class="flex justify-center items-center w-full h-full p-4">
                    <div
                        class="flex flex-col items-center lg:items-start justify-center p-4 gap-4 w-full lg:min-w-[306px] h-fit"
                    >
                        <div
                            class="bg-[#FDE68A] px-[7px] w-fit h-full rounded-lg"
                            style={`background-color: ${packageDetails[4].package.titleColor}`}
                        >
                            <h1
                                class="font-bold text-2xl md:text-2xl lg:text-3xl leading-10"
                            >
                                {packageDetails[4].package.name}
                            </h1>
                        </div>
                        <p
                            class="text-xs text-center lg:text-start md:text-xl lg:text-[17px]"
                        >
                            {packageDetails[4].package.description}
                        </p>
                        <div
                            class="flex justify-center lg:justify-start items-center w-full gap-2"
                        >
                            <div
                                class="relative hover:scale-110 transition-transform duration-300"
                            >
                                <a
                                    href={packageDetails[4].package.buttonLink}
                                    target="_blank"
                                    rel="noopener noreferrer"
                                >
                                    <img
                                        class="w-5 h-5 lg:w-10 lg:h-full object-cover"
                                        src={icon}
                                        alt="Icon"
                                    />
                                </a>
                            </div>
                            <a
                                class="flex items-center text-xs lg:text-[17px] w-fit p-2 h-10 rounded-xl"
                                href={packageDetails[4].package.buttonLink}
                                >{packageDetails[4].package.buttonText}</a
                            >
                        </div>
                    </div>
                </div>
                <div
                    class="hidden lg:flex justify-center items-center w-[70%] lg:w-full h-full"
                >
                    <div
                        style={`background-image: url('${packageDetails[4].package.image}')`}
                        class="bg-blue-300 w-full max-w-[210px] bg-cover bg-center h-[264px] m-3 rounded-[45px]"
                    >
                    </div>
                </div>
            </div>
        </div>

        <!--item 5 -->
        <div
            style={`background-color: ${packageDetails[5].package.containerColor}`}
            class="relative flex flex-col justify-center items-center h-fit w-full p-5 sm:p-10 gap-5 rounded-[45px]"
        >
            <div
                class="rounded-[20px] sm:rounded-[45px] w-full h-auto flex flex-col items-center justify-center p-5 sm:p-10 gap-5 bg-white overflow-hidden"
            >
                <h2
                    class="text-5xl lg:text-[96px] font-bold font-bebas tracking-wider text-center mb-5"
                >
                    Tour Gallery
                </h2>
                <div
                    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 sm:gap-5 w-full"
                >
                    {
                        Object.keys(packageDetails[5]?.package || {})
                            .filter((key) => key.startsWith("image")) // Filter keys that start with "image"
                            .map((key, index) => {
                                const imageSrc = packageDetails[5].package[key];
                                return imageSrc ? ( // Check if the src is not empty
                                    <div
                                        key={index}
                                        class="relative w-full h-[150px] sm:h-[200px] rounded-lg overflow-hidden border border-gray-300 shadow-md hover:scale-105 transition-transform duration-300"
                                    >
                                        <img
                                            class="w-full h-full object-cover"
                                            src={imageSrc}
                                            alt={`Portrait ${index + 1}`}
                                        />
                                    </div>
                                ) : null; // Skip rendering if src is empty
                            })
                    }
                </div>
            </div>
        </div>
    </div>
</section>
